# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS
.DS_Store

# Logs
*.log

# Testing
.pytest_cache/

# Database
*.db
*.sqlite3